@using DestinationWeather.MVC.Models
@model MapData
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose your destination!.</p>
</div>

<div class="text-center">
    <form method="post" name="modulo">
        <tr><td><b>Start</b></td><td><input type="text" name="start" required></td></tr>
        <tr><td><b>Destination</b></td><td><input type="text" name="destination" required></td></tr>
        <button type="submit" asp-area="" asp-controller="Home" asp-action="Search">Search</button>
    </form>
    <br />
</div>

 <div id="map"></div>

<script>
    var map = L.map('map').setView([41.29, 12.27], 5);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>


@if (Model != null )
{
    <code>
        <script>
            var lat = @Model.StartDatas[0].lat.ToString().Substring(0,4).Replace(",",".");
            var lon = @Model.StartDatas[0].lon.ToString().Substring(0,4).Replace(",",".");
            var marker1 = L.marker([lat, lon]).addTo(map)
            marker.bindPopup("<b>"+@Model.StartDatas[0].display_name+"</b><br>Weather:").openPopup();

            lat = @Model.DestinationDatas[0].lat.ToString().Substring(0,4).Replace(",",".");
            lon = @Model.DestinationDatas[0].lon.ToString().Substring(0,4).Replace(",",".");
            var marker2 = L.marker([lat, lon]).addTo(map)
            marker.bindPopup("<b>"+@Model.DestinationDatas[0].display_name+"</b><br>Weather:").openPopup();
        </script>
    </code>
}
